/*--------------CONFIGURACIONES GENERALES---------------------------*/
.hide {
    display: none;
}

body {
    position: relative;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: white;
    min-height: 100vh;
}

a, a:hover {
    color: white;
    text-decoration: none;
}

div.contenedor-principal {
    position: relative;
    min-height: 100vh;
    height: 100%;
    background-color: white;
}
