
// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';


#listRow {
    position: relative; 
    background:rgba(255,255,255,0.3);
    margin-left: 30px;
    margin-right: 30px;
}

.table.transparent {
    table-layout: fixed;
    position: relative; 
    background:rgba(255,255,255,0.5);
    width: 95%;
    margin:0 auto;
}

.table td {
    word-break: break-all;
}

.deleteListButton {
    position: absolute;
    left: 47.5%;
    margin-top: 10px;
}

.col-md-2.noLeftPadding {
    padding-left: 0px;
}

.row.wrap {
    display:flex;
    flex-wrap: wrap;
}

.row.wrap > div[class*='col-'] {
    display: flex;
}

.plcol {
    padding-left: 120px;
}

.circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
.circular img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: #f4623a;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #f4623a;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: '';
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 1.5em;
      color: #818078;
      background-color: #fcfcfa;
    }
  }

.backicon {
    opacity: 0.5;
}

.backicon:hover {
    opacity: 0.3; 
}

.wrappedDescription {
    word-wrap: break-word;
}



  