#panelFondo
{
    width: 600px;
    height: auto;
    margin: 50px auto;
}

body
{
    background-color: whitesmoke ;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
#form p {
    text-align: center;
}
  
#form label {
    font-size: 100px;
}
  
input[type="radio"] {
    display: none;
}
  
label {
  color: rgb(19, 0, 0);
}
  
.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
    color: rgb(240, 6, 6);
}
  
input[type="radio"]:checked ~ label {
    color: rgb(240, 6, 6);
}

#panelBoton
{
    margin: 20px auto;
    text-align: center; 
}

.botonEditar
{
    width: 150px;
    height: 40px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    background-color: #657e8f;
    border-radius: 6px;
    border: 2px solid #777ca7;
    margin-top: 20px;
    text-align: center;
}
.botonEditar:hover{
    color: #1883ba;
    background-color: #ffffff;
}
