.tituloJuego{
    font-weight: 600;
    font-size: 100px;
    padding-top:5%;
    padding-bottom: 5%;
    font-family: 'Gugi', cursive;
}
.datos > p{
    font-weight: 450;
    font-family: 'Poppins', sans-serif;
}

.action_buttons{
    position:center;
    justify-content: center;
    display: flex;
}