body
{
    background-color: whitesmoke ;
}
.panelInformacion
{
    margin-top: 20px;
    margin: 10px auto;
    height: auto;
}

.panelSerie
{
    margin-top: 20px;
    margin: 10px auto;
    height: auto;
}
#seriesGuardadas
{
    text-size-adjust: 10px;
}

#panelDescripcion
{
    width: 900px;
    height: auto;
    text-align: center;
    margin: 50px auto;
}
