#formContent{
	padding: 20px;
}

ul{
	margin:0px;
	padding:0px;
}

.link{
	text-align: center;
}

#editlink{
	text-align: right;
	align-content: right;
	float:right;
	cursor: pointer;
}

.text-muted{
	margin-left: 5px;
	font-style: italic;
}

#list-info{
	margin-top: 5px;
	margin-left: 50px;
	text-align: left;
}

.list-title{
	font-size: 20px;
}

#likes{
	margin-top: 5px;
}

/**
 * Profile image component
 */
 .profile-header-container{
    margin: 0 auto;
}

img.img-circle {
    width: 40px;
	height: 40px;
}

.profile-header {
    margin-top: 43px;
}

.userinfo {
	text-align: left;
}

.username{
	margin-left: 10px;
}
