h1, ul, #albumInfo, #editButton, #createButton {
    margin-left:12%;
}

#goBackButton {
    margin-left:47.4%;
    margin-top:1%;
}

#editButton {
    margin-left:48%;
}

#editListButton {
    margin-left:12%;
}