h1, #albumInfoOwner, #albumInfoStatus, #createButton {
    margin-left:12%;
}

#mainList {
    margin-left:12%;
    margin-right:12%;
}

#albumInfoStatus, .btn-group {
    margin-bottom:1%;
}

#goBackButton {
    margin-left:47.4%;
    margin-top:1%;
}

#editButton {
    margin-left:48%;
}

#editListButton, .btn-group {
    margin-left:12%;
}

#otherListsButton {
    margin-left:44%;
}