body{
background-color: white;
}

.jumbotron{
  background-color: #F9E79F;

}

.album{
  background-color: white;
}

.card-header{
  background-color: #F9E79F;
  border: #F9E79F;
}

.btn-primary{
  background-color: #FFB04B;
  border:#FFB04B;
}
