body{

background-color: white;
font-family: 'Poppins', sans-serif;
}


.hero-image {
  background-image: url("/image/libro.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.jumbotron{
  background-color: #F9E79F;
}

.album{
 
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
}

.card-header{
  background-color: #F9E79F;
  border: #F9E79F;
  
}

.card-title{
  font-family: 'Poppins',sans-serif;
}

.card-link{
  font-weight: 800;
  font-size: 16px;
}

.btn-primary{
  background-color: #FFB04B;
  border:#FFB04B;
}

.btn-link{
  font-weight: 800;
  font-size: 16px;
}


.btn-link-font{
  font-weight: 300;
}



