#appName{
    font-weight: bold;
    font-size: x-large;
    /* font-style: italic; */
    font-variant: small-caps;
}

#avatarUser{
    margin-right: 8px;
    border-radius: 50%;
}

.title{
    font-weight: bold;
    font-size: 110%;
}