#panelfondo
{
    width: 400px;
    height: auto;
    margin: 50px auto;
    
}

body
{
    background-color: whitesmoke ;
}

#panelBoton
{
    margin: 20px auto;
    text-align: center; 
}

.botonGuardar
{
    width: 150px;
    height: 40px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    background-color: #657e8f;
    border-radius: 6px;
    border: 2px solid #777ca7;
    margin-top: 20px;
    text-align: center;
}
.botonGuardar:hover{
    color: #1883ba;
    background-color: #ffffff;
}