body
{
    background-color: whitesmoke ;
}

#panelFondo
{
    width: 600px;
    height: auto;
    margin: 50px auto;
}

.botonAgregar
{
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    background-color: #657e8f;
    border-radius: 6px;
    border: 2px solid #777ca7;
    margin-top: 20px;
    text-align: center;
}
.botonAgregar:hover{
    color: #1883ba;
    background-color: #ffffff;
}