/*------------------ FOOTER ------------------------------------*/
/*--------------------------------------------------------------*/

footer {
    background-color: $body-bg;
    border-top: 2px solid rgb(240, 240, 240);
    padding: 14px 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
}

div.fondo-signup footer, div.fondo-login footer {
    background-color: rgba(0,0,0,.5);
    border: none;
    color: white;

    i {
        color: white;
    }
}

footer p.copyright{
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer a.redes-sociales {
    color: black;
    font-size: 18px;
}
